// Font-size
$base-font: 1rem;
$ft12: 0.75rem;
$ft14: 0.875rem;
$ft20: 1.25rem;
$ft22: 1.375rem;
$ft36: 2.25rem;
$ft42: 2.625rem;
$ft45: 2.8125rem;
$ft58: 3.625rem;

// Font-weight
$normal-weight: 300;
$base-font-weight: 400;
$semi-bold-font: 600;
$bold-font: 700;
$bolder-font: 900;
