.landing-section {
  min-height: 95vh;
  @include flex-box();
  width: 100%;
  .detail-section {
    @include flex-box();
    @include justify-content(center);
    @include align-items(center);
    @include flex-grow(1);
    .detail-container {
      background: white;
      h6 {
        @include section-header($ft45);
      }
      p {
        @include section-sub-text($ft20);
      }
      div {
        .greenButton {
          @include buttonGreen();
          &:hover {
            background: $btn-hover-color;
            box-shadow: 0 8px 32px rgba(37, 112, 255, 0.46);
            border-color: $btn-border-hover-color;
          }
        }
        .transparent-button {
          @include transparentButton();
          margin-bottom: 0;
          &:hover {
            color: $btn-text;
            background: $btn-hover-color;
            box-shadow: 0 8px 32px rgba(37, 112, 255, 0.46);
            border-color: $btn-border-hover-color;
          }
        }
      }
    }
  }
  .landing-image {
    @include flex-box();
    @include justify-content(center);
    @include align-items(flex-end);
    @include flex-grow(1);
  }
}
